/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.scss
 */
/*
 * Author:      kchaves@intelligentsense.com
 * Date:        28/10/2013
 * Description: Main COMPASS file. Import all the partials you need here.
 */
/**
* Mixin for image replacement
*/
/* ===================
    ALL: Fonts
   =================== */
@font-face {
  font-family: 'IntelligentSense';
  src: url("../fonts/tgl-31034-1-normschrift.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 27, ../scss/partials/_general.scss */
.clear {
  clear: both;
}

/* ===================
    ALL: Orange Theme
   =================== */
/* line 35, ../scss/partials/_general.scss */
.header-container {
  height: 60px;
}

/* line 40, ../scss/partials/_general.scss */
.title {
  color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 48, ../scss/partials/_general.scss */
.ir {
  overflow: hidden;
  background-color: transparent;
  border: 0;
  *text-indent: -9999px;
}

/* line 56, ../scss/partials/_general.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 63, ../scss/partials/_general.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 68, ../scss/partials/_general.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 79, ../scss/partials/_general.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 89, ../scss/partials/_general.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../scss/partials/_general.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 99, ../scss/partials/_general.scss */
.clearfix:after {
  clear: both;
}

/* line 103, ../scss/partials/_general.scss */
.clearfix {
  *zoom: 1;
}

/* line 16, ../scss/partials/_header.scss */
header {
  height: 77px;
  background: black;
}

/* line 16, ../scss/partials/_footer.scss */
.footer {
  position: absolute;
  bottom: 0%;
  background: black;
}
/* line 21, ../scss/partials/_footer.scss */
.footer footer {
  color: white;
  padding: 20px 0;
}

/* line 16, ../scss/partials/_content.scss */
html,
button,
input,
select,
textarea {
  color: #221;
}

/* line 24, ../scss/partials/_content.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 29, ../scss/partials/_content.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 34, ../scss/partials/_content.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 39, ../scss/partials/_content.scss */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* line 49, ../scss/partials/_content.scss */
h1 {
  font-family: Arial, sans;
}

/* line 53, ../scss/partials/_content.scss */
img {
  vertical-align: middle;
}

/* line 57, ../scss/partials/_content.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 63, ../scss/partials/_content.scss */
textarea {
  resize: vertical;
}

/* line 67, ../scss/partials/_content.scss */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* line 71, ../scss/partials/_content.scss */
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ==============
    MOBILE: Main
   ============== */
/* line 80, ../scss/partials/_content.scss */
.main {
  padding: 30px 0;
}
/* line 85, ../scss/partials/_content.scss */
.main article h1 {
  font-size: 2em;
}
/* line 90, ../scss/partials/_content.scss */
.main aside {
  color: white;
  padding: 0px 5% 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
@media only screen and (max-width: 1224px) {
  /* Styles */
}
/* Desktops and laptops ----------- */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* Retina Display ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
@media only screen and (min-width: 160px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 78, ../scss/partials/_media-queries.scss */
  header .header__icon {
    position: absolute;
    right: 22px;
    top: 7px;
    color: white;
  }
  /* line 85, ../scss/partials/_media-queries.scss */
  header .header__logo {
    margin-left: 10px;
  }

  /* line 91, ../scss/partials/_media-queries.scss */
  nav a {
    display: none;
  }

  /* line 96, ../scss/partials/_media-queries.scss */
  .search {
    background-image: url(../images/banner-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: -1%;
  }

  /* line 104, ../scss/partials/_media-queries.scss */
  .container {
    width: 90%;
    margin-left: 6%;
  }
  /* line 108, ../scss/partials/_media-queries.scss */
  .container .container__item {
    margin-top: 6%;
  }
  /* line 112, ../scss/partials/_media-queries.scss */
  .container .container__title {
    font-size: 24px;
    width: 80%;
  }
  /* line 117, ../scss/partials/_media-queries.scss */
  .container .container__input {
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 20px;
    width: 90%;
    height: 44px;
    font-size: 18px;
    text-indent: 5%;
  }
  /* line 128, ../scss/partials/_media-queries.scss */
  .container .container__button {
    background: transparent;
    border: transparent;
    margin-left: -65px;
  }
  /* line 132, ../scss/partials/_media-queries.scss */
  .container .container__button img {
    margin-bottom: 4px;
  }
  /* line 137, ../scss/partials/_media-queries.scss */
  .container .item__header {
    display: flex;
    justify-content: space-around;
  }
  /* line 141, ../scss/partials/_media-queries.scss */
  .container .item__header .item__logo {
    margin-left: auto;
  }
  /* line 146, ../scss/partials/_media-queries.scss */
  .container .item__tittle {
    font-size: 18px;
  }
  /* line 150, ../scss/partials/_media-queries.scss */
  .container .item__line {
    border: 1px solid #D8D8D8;
  }
  /* line 154, ../scss/partials/_media-queries.scss */
  .container .item__section {
    display: flex;
    margin-top: 2%;
  }
  /* line 158, ../scss/partials/_media-queries.scss */
  .container .item__section .item__img {
    margin: inherit;
    height: 135px;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
  }
  /* line 166, ../scss/partials/_media-queries.scss */
  .container .item__section .item__info {
    margin-left: 3%;
    font-size: 12px;
    text-align: justify;
    line-height: normal;
  }
  /* line 174, ../scss/partials/_media-queries.scss */
  .container .item__footer {
    display: flex;
    font-size: 14px;
    font-weight: bold;
  }
  /* line 179, ../scss/partials/_media-queries.scss */
  .container .item__footer .item__footer-button {
    margin: auto;
    width: 156px;
    height: 34px;
    background: black;
    color: white;
    background: #000000;
    border-radius: 18px;
  }

  /* line 192, ../scss/partials/_media-queries.scss */
  .footer {
    position: initial;
    color: white;
    font-size: 12px;
    line-height: normal;
    display: inline-block;
    margin-top: 10%;
    width: 100%;
    height: 88px;
  }
  /* line 202, ../scss/partials/_media-queries.scss */
  .footer p {
    text-indent: 5%;
  }
  /* line 206, ../scss/partials/_media-queries.scss */
  .footer .footer__text {
    margin-top: -10px;
  }
  /* line 210, ../scss/partials/_media-queries.scss */
  .footer .footer__link {
    margin-left: 5%;
  }
  /* line 213, ../scss/partials/_media-queries.scss */
  .footer .footer__link a {
    color: white;
  }
}
@media only screen and (min-width: 768px) {
  /* line 226, ../scss/partials/_media-queries.scss */
  .search {
    background-image: url(../images/banner.png);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    height: 350px;
  }

  /* line 234, ../scss/partials/_media-queries.scss */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* line 238, ../scss/partials/_media-queries.scss */
  .container .container__header {
    position: absolute;
    top: 200px;
    width: 95%;
  }
  /* line 243, ../scss/partials/_media-queries.scss */
  .container .container__header .container__title {
    color: white;
    font-size: 36px;
    line-height: normal;
    width: 50%;
  }
  /* line 251, ../scss/partials/_media-queries.scss */
  .container .container__item {
    margin-right: 5%;
  }

  /* line 257, ../scss/partials/_media-queries.scss */
  .footer {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-top: 2%;
  }
  /* line 263, ../scss/partials/_media-queries.scss */
  .footer .footer__header {
    text-indent: 15%;
    width: 25%;
    margin-top: 2%;
  }
  /* line 269, ../scss/partials/_media-queries.scss */
  .footer .footer__text {
    width: 25%;
    margin-top: 2%;
    margin-left: -28%;
  }
  /* line 275, ../scss/partials/_media-queries.scss */
  .footer .footer__link {
    margin-top: 2%;
    margin-right: 4%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  /* line 287, ../scss/partials/_media-queries.scss */
  .header {
    display: flex;
    justify-content: space-between;
  }
  /* line 291, ../scss/partials/_media-queries.scss */
  .header .header__logo {
    height: 60px;
    margin-top: 5px;
  }
  /* line 296, ../scss/partials/_media-queries.scss */
  .header .header__icon {
    display: none;
  }
  /* line 300, ../scss/partials/_media-queries.scss */
  .header nav {
    width: 400px;
  }
  /* line 303, ../scss/partials/_media-queries.scss */
  .header nav .header__menu {
    display: flex;
    margin-top: 25px;
  }
  /* line 307, ../scss/partials/_media-queries.scss */
  .header nav .header__menu li {
    margin-right: 5%;
  }
  /* line 312, ../scss/partials/_media-queries.scss */
  .header nav a {
    display: inline;
    color: #FFFFFF;
    text-decoration: none;
  }
  /* line 318, ../scss/partials/_media-queries.scss */
  .header nav a:hover {
    border-bottom: 5px solid #FFFFFF;
  }

  /* line 324, ../scss/partials/_media-queries.scss */
  .search {
    background-image: url(../images/banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 0;
  }

  /* line 332, ../scss/partials/_media-queries.scss */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2%;
  }
  /* line 337, ../scss/partials/_media-queries.scss */
  .container .container__header {
    position: absolute;
    top: 300px;
  }
  /* line 341, ../scss/partials/_media-queries.scss */
  .container .container__header .container__title {
    color: white;
    font-size: 36px;
    line-height: normal;
    width: 80%;
  }
  /* line 349, ../scss/partials/_media-queries.scss */
  .container .container__input {
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 20px;
    width: 46%;
    height: 44px;
    font-size: 18px;
    text-indent: 5%;
    margin-top: 2%;
  }

  /* line 364, ../scss/partials/_media-queries.scss */
  .footer {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  /* line 369, ../scss/partials/_media-queries.scss */
  .footer .footer__text {
    margin-left: -46%;
  }

  /* line 375, ../scss/partials/_media-queries.scss */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 386, ../scss/partials/_media-queries.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 393, ../scss/partials/_media-queries.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 398, ../scss/partials/_media-queries.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 402, ../scss/partials/_media-queries.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 410, ../scss/partials/_media-queries.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 416, ../scss/partials/_media-queries.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 422, ../scss/partials/_media-queries.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 426, ../scss/partials/_media-queries.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 431, ../scss/partials/_media-queries.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 439, ../scss/partials/_media-queries.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 446, ../scss/partials/_media-queries.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
