header{
  height: 77px;
  background: black;
}

@media only screen and (min-width: 160px){
  .header {
      &__icon {
          position: absolute;
          right: 22px;
          top: 7px;
          color: white;
      }

      &__logo {
          margin-left: 10px;
      }

      &__nav {
          a {
              display: none;
          }
      }
  }
}

@media only screen and (min-width: 1140px) {
  .header {
      display: flex;
      justify-content: space-between;

      &__logo {
          height: 60px;
          margin-top: 5px;
      }

      &__icon {
          display: none;
      }

      &__nav {
          width: 400px;

          &__elements {
              display: flex;
              margin-top: 25px;

              li{
                  margin-right: 5%;
              }
          }

          a {
              display: inline;
              color: #FFFFFF;
              text-decoration: none;
          }

          a:hover {
              border-bottom: 5px solid #FFFFFF;
          }
     }
  }
}
